@font-face {
	font-family: Helvetica;
	src: url(fonts/Helvetica.otf);
}
@font-face {
	font-family: Bookman;
	src: url(fonts/Bookman-OS-B.TTF);
}
*  {
	box-sizing: border-box;
}

body {
	background-color: #5572a0;
    font-family: Helvetica, sans-serif;
    font-size: 15px;
	color: white;
	margin: 0;
}

.heading-container {
	text-align: center;
}
h1 {
	font-family: Bookman, serif;
	font-size: 48px;
	text-shadow: -5px -5px 0 #36465d, -5px -4px 0 #36465d, -5px -3px 0 #36465d, -5px -2px 0 #36465d, -5px -1px 0 #36465d, -5px 0px 0 #36465d, -5px 1px 0 #36465d, -5px 2px 0 #36465d, -5px 3px 0 #36465d, -5px 4px 0 #36465d, -5px 5px 0 #36465d, -4px -5px 0 #36465d, -4px -4px 0 #36465d, -4px -3px 0 #36465d, -4px -2px 0 #36465d, -4px -1px 0 #36465d, -4px 0px 0 #36465d, -4px 1px 0 #36465d, -4px 2px 0 #36465d, -4px 3px 0 #36465d, -4px 4px 0 #36465d, -4px 5px 0 #36465d, -3px -5px 0 #36465d, -3px -4px 0 #36465d, -3px -3px 0 #36465d, -3px -2px 0 #36465d, -3px -1px 0 #36465d, -3px 0px 0 #36465d, -3px 1px 0 #36465d, -3px 2px 0 #36465d, -3px 3px 0 #36465d, -3px 4px 0 #36465d, -3px 5px 0 #36465d, -2px -5px 0 #36465d, -2px -4px 0 #36465d, -2px -3px 0 #36465d, -2px -2px 0 #36465d, -2px -1px 0 #36465d, -2px 0px 0 #36465d, -2px 1px 0 #36465d, -2px 2px 0 #36465d, -2px 3px 0 #36465d, -2px 4px 0 #36465d, -2px 5px 0 #36465d, -1px -5px 0 #36465d, -1px -4px 0 #36465d, -1px -3px 0 #36465d, -1px -2px 0 #36465d, -1px -1px 0 #36465d, -1px 0px 0 #36465d, -1px 1px 0 #36465d, -1px 2px 0 #36465d, -1px 3px 0 #36465d, -1px 4px 0 #36465d, -1px 5px 0 #36465d, 0px -5px 0 #36465d, 0px -4px 0 #36465d, 0px -3px 0 #36465d, 0px -2px 0 #36465d, 0px -1px 0 #36465d, 0px 0px 0 #36465d, 0px 1px 0 #36465d, 0px 2px 0 #36465d, 0px 3px 0 #36465d, 0px 4px 0 #36465d, 0px 5px 0 #36465d, 1px -5px 0 #36465d, 1px -4px 0 #36465d, 1px -3px 0 #36465d, 1px -2px 0 #36465d, 1px -1px 0 #36465d, 1px 0px 0 #36465d, 1px 1px 0 #36465d, 1px 2px 0 #36465d, 1px 3px 0 #36465d, 1px 4px 0 #36465d, 1px 5px 0 #36465d, 2px -5px 0 #36465d, 2px -4px 0 #36465d, 2px -3px 0 #36465d, 2px -2px 0 #36465d, 2px -1px 0 #36465d, 2px 0px 0 #36465d, 2px 1px 0 #36465d, 2px 2px 0 #36465d, 2px 3px 0 #36465d, 2px 4px 0 #36465d, 2px 5px 0 #36465d, 3px -5px 0 #36465d, 3px -4px 0 #36465d, 3px -3px 0 #36465d, 3px -2px 0 #36465d, 3px -1px 0 #36465d, 3px 0px 0 #36465d, 3px 1px 0 #36465d, 3px 2px 0 #36465d, 3px 3px 0 #36465d, 3px 4px 0 #36465d, 3px 5px 0 #36465d, 4px -5px 0 #36465d, 4px -4px 0 #36465d, 4px -3px 0 #36465d, 4px -2px 0 #36465d, 4px -1px 0 #36465d, 4px 0px 0 #36465d, 4px 1px 0 #36465d, 4px 2px 0 #36465d, 4px 3px 0 #36465d, 4px 4px 0 #36465d, 4px 5px 0 #36465d, 5px -5px 0 #36465d, 5px -4px 0 #36465d, 5px -3px 0 #36465d, 5px -2px 0 #36465d, 5px -1px 0 #36465d, 5px 0px 0 #36465d, 5px 1px 0 #36465d, 5px 2px 0 #36465d, 5px 3px 0 #36465d, 5px 4px 0 #36465d, 5px 5px 0 #36465d;
	margin: 5px;
}

#library-name {
	margin-top: 0px;
}
h3 {
	margin-top: 0px;
	color: white;
	font-weight: normal;
}
.container {
	padding: 10px;
	max-width: 790px;
	margin: 0 auto;
}
.shadow {
	box-shadow: 2px 2px 8px black;
}
.light {
	background-color: white;
	color: black;
}

#main {
	min-height: calc(100vh - 109px);
	background: #36465d;
}


label, h2 {
	font-size: 1.5rem;
	font-weight: normal;
	margin: 0 0 5px 0;
}
[type="submit"] {
	background-color: #5572a0;
	color: white;
	border: 0;
	padding: 0.7rem 1.5rem;
	font-size: 1rem;
	border-radius: 3px;
}
[type="submit"]:hover {
	box-shadow: 0px 2px 8px black;
}
[type="text"], select, [type="password"] {
	width: 100%;
	height: 35px;
	font-size: 1rem;
	margin: 5px 0;
	padding: 0 10px;
	border-radius: 3px;
}

form, #library-name {
	margin-top: 1.5rem;
}
form div {
	margin-bottom: 10px;
}
#login {
	position:fixed;
	top: 17px;
    right: 25px;
}
#blogs {
	margin-top: 15px;
	margin-bottom: 30px;
}
.library-entry, .comment, .similar-library {
	position: relative;
	border: 1px solid grey;
	margin-bottom: 5px;
	padding: 10px;
}
.library-entry img {
    width: 100px;
    height: 100px;
    float: left;
    margin-right: 15px;
    margin-bottom: 2px;
}
.library-entry::after {
	content: '';
	clear: both;
	display: block;
}

.info {
	margin: .75em 0 .75em 0;
}
#comments, #similar-libraries {
	margin-bottom: 30px;
}
.comment {
	text-align: left;
}
.comment-date {
	margin-left: 8px; 
}
.slide-control, .comment-date, #open-edit {
	font-size: 10pt;
	color: grey;
}
.clickable-text:hover {
	text-decoration: underline;
	cursor: pointer;
}
.library-remove, .comment-remove {
	position: absolute;
	font-size: 30px;
	color: grey;
	top: -5px;
	right: 5px;
	cursor: pointer;
}
.library-add {
	font-size: 10pt;
	color: grey;
}

.light a, .light a:visited, .light a:active {
	color: black;
}
a, a:visited, a:active {
	text-decoration: none;
	color: #5572a0;
}
a:hover {
	text-decoration: underline;
}
h1 a, h1 a:visited, h1 a:hover, h1 a:active {
  color: inherit;
  text-decoration: none;
}
ul {
	padding: 0px;
	margin: 0px;
}
textarea {
	box-sizing: border-box;
	resize: none;
    font-family: 'Source Sans Pro', sans-serif;
	width: 100%;
	padding: 10px;
}
.error {
    color: red;
    font-weight: bold;
}

.icon {
	position: relative;
    margin-right: 10px;
    top: 10px;
}

@media (max-width: 1120px) {
	.heading-container h3 {
		padding-bottom: 65px;
	}
	#login {
		position: absolute;
		top: 100px;
		left: 50%;
		right: auto;
		-webkit-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		transform: translateX(-50%);
	}
}